body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.container {
  width: 55rem;
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  background-color: hsl(180, 100%, 87%);
}


.btn {
  width: 200px;
  height: 50px;
  background-color: black;
  color: yellow;
  border-radius: 10px;
  border-color: yellow;
  border-width: 2px;
  font-size: 16px;
  font-weight: bold;
}

.btn:hover {
  width: 200px;
  height: 50px;
  background-color: yellow;
  color: black;
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
  font-size: 16px;
  font-weight: bold;
}